/* "Very simple tooltips" by Marco Del Tongo <info@marcodeltongo.com> - Public Domain */
p#tip {
    display: none;
    position: absolute;
    padding: 10px;
    left: 5px;
    font-size: 0.8em;
    background-color: white;
    z-index: 9999;
}